.menu-desktop-wrapper {
  display: block;
  border-top: 1px solid #c4c4c4;
}

.menu-header-desktop-content {
  display: flex;
  background-color: #00c8ff;
}

.menu-desktop-item-02 {
  font-size: 14px;
  line-height: 16px;
  margin: 14px 0;
  color: var(--white);
  transition: all 0.2s ease-in-out;
}

a:link {
  text-decoration: none;
}

.menu-desktop-item-02:hover {
  opacity: 70%;
}

.menu-desktop-item-02:active {
  opacity: 100%;
}

.menu-desktop-item {
  font-size: 14px;
  margin: 14px 0;
  color: var(--white);
  transition: all 0.2s ease-in-out;
  margin: 14px 126px 14px 110px;
}

.menu-desktop-item:hover {
  opacity: 70%;
}

.menu-desktop-item:active {
  opacity: 100%;
}

@media screen and (min-width: 769px) {
  .menu-header-mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menu-desktop-wrapper {
    display: none;
  }

  .menu {
    height: 100%;
  }

  .icon-button {
    position: relative;
    transition: all 0.3s linear;
    z-index: 0;
    height: 100%;
    display: flex;
    cursor: pointer;
    background: transparent;
    border: 0px;
  }

  .menu-overlay {
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    will-change: opacity;
    transition: opacity ease 0.3s;
    background: rgba(0, 0, 0, 0.4);
  }

  .menu-modal {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    height: 100vh;
    width: 85%;
    max-width: 320px;
    left: 0;
    top: 0px;
    background-color: var(--white);
    transition: transform ease 0.3s, -webkit-transform ease 0.3s;
    z-index: 1;
  }

  .menuClose {
    display: none;
  }

  .menu-user {
    display: flex;
    height: 100px;
    background-color: var(--blue-500);
    justify-content: space-between;
  }

  .user-link {
    display: block;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: var(--white);
    padding: 20px 0 0 26px;
    text-transform: uppercase;
  }

  .menu-close-icon {
    background-color: var(--blue-500);
    padding: 20px;
    height: 20px;
  }
  .icon-menu-close {
    height: 20px;
    width: 20px;
  }

  .menu-panel {
    margin: 0 24px;
    font-weight: 500;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .menu-item {
    text-transform: uppercase;
  }
  .item-2 {
    border-top: 1px solid #e5e5e5;
  }

  .menu-handle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: normal;
    padding: 32px 0 24px;
    color: #333;
    padding: 20px 0;
    text-align: left;
  }
}
