.newsletter {
  display: flex;
}
.newsletter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e7e7e7;
  margin: 114px 0 26px 0;
}
.newsletter-wrapper-content {
  align-items: flex-start;
  margin: 16px 0;
  position: relative;
}
.newsletter-title {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #303030;
  margin: 0px 0 6px 0;
  text-transform: uppercase;
}
.newsletter-input {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  margin-right: 8px;
  outline: 0;

  width: 342px;
  height: 42px;
}
.newsletter-input::placeholder {
  font-size: 14px;
  color: #c4c4c4;
}

.error-mesage-inputs {
  border-color: #c70039;
}
.newsletter-wrapper button {
  background: #00c8ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: 0;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.05em;
  width: 126px;
  height: 42px;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.news-button {
  margin-top: 44px;
}

.newsletter-wrapper button:hover {
  opacity: 70%;
}
.newsletter-submit:active {
  background-color: #004558;
  opacity: 100%;
}

@media screen and (max-width: 768px) {
  .newsletter {
    display: flex;
    flex-direction: column;
    margin-bottom: 104px;
  }

  .newsletter-wrapper {
    margin: 114px 0 26px 0;
  }

  .newsletter-wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 0;
  }
  .newsletter-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    font-variant: small-caps;
    color: #303030;
    margin: 0 0 12px 0;
  }
  .newsletter-input {
    padding: 16px;
    width: 326px;
    height: 50px;
  }
  .news-button {
    margin-top: 0px;
  }
  .newsletter-wrapper button {
    width: 326px;
    height: 50px;
  }
  .newsletter-wrapper {
    margin-bottom: 0px;
  }
}
