.middle-icons {
  display: flex;
  align-items: center;
  margin: 30px 0 80px 128px;
}

.middle-icons-home {
  margin: 0px 8px 0px 0px;
}

.middle-icons-title {
  font-family: Roboto;
  font-size: 12px;
  color: var(--gray-500);
  margin: 0 0 0 8px;
}

@media screen and (max-width: 768px) {
  .middle-icons {
    margin: 16px 0 0px 16px;
  }
}
