@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("../../fonts/Helvetica/HelveticaNeueLTStd-Th.otf") format("opentype");
}

.main-page {
  width: 100%;
  max-width: calc(100% - 68px);
  padding-left: 10%;
}

.main-page-title {
  display: flex;
  padding-left: 460px;
  font-family: "Helvetica Neue LT Std";
}

.main-page-title h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1em;
  color: var(--gray-800);
}

.main-page-wrapper {
  display: flex;
  gap: 32px;
  margin-top: 50px;
}

.main-page-title-wrapper {
  width: 100%;
  max-width: 270px;
  display: flex;
  flex-direction: column;
}

.main-menu-title-style,
.main-menu-title-active {
  padding: 0px 16px;
  cursor: pointer;
  height: 40px;
  background: none;
  text-align: left;
  font-family: var(--font-family-Roboto);
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-700);
  border-right: 1px solid var(--gray-200);
}

.main-menu-details-wrapper {
  width: 100%;
}

.main-menu-details-title {
  font-family: var(--font-family-Roboto);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: var(--gray-800);
  margin-bottom: 12px;
}

.main-menu-details-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: var(--gray-700);
}

.closed {
  display: none;
}

.main-menu-title-active {
  background: var(--blue-500);
  color: var(--white);
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .main-page {
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .main-page-title {
    padding-left: 370px;
  }
}

@media screen and (max-width: 768px) {
  .main-menu-details-form {
    display: flex;
    justify-content: center;
  }

  .main-page-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-page-title {
    justify-content: center;
    padding: 0;
  }
  .main-menu-title-style {
    border: none;
  }

  .main-page-title-wrapper {
    max-width: 100%;
  }

  .main-page {
    max-width: 100%;
    padding: 20px;
  }

  .main-menu-details-mobile {
    display: none;
  }
}
