.page-buttons {
  z-index: 30;
  display: grid;
  position: fixed;
  top: 80%;
  right: 14px;
}

.whatsapp-icon {
  margin-bottom: 12px;
}

.button-up {
  display: flex;
  border-radius: 50%;
  height: 37px;
  width: 37px;
  background-color: var(--gray-500);
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  cursor: pointer;
}
