@font-face {
  font-family: "Proxima Nova";
  src: url("../../fonts/ProximaNova/ProximaNovaFont.otf") format("opentype");
}

.form-wrapper {
  max-width: 390px;
  margin-left: 98px;
  padding: 0 12px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper form {
  width: 100%;
}

.form-wrapper h2 {
  font-weight: 400;
  font-size: 24px;
  color: var(--gray-900);
  text-transform: uppercase;

  margin: 0 0 34px 24px;
}

.form-col {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.form-col label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--gray-900);
  margin: 0 0 4px 14px;
  line-height: 23px;
}

.form-col input {
  height: 46px;
  border: 1px solid var(--gray-900);
  border-radius: 25px;
  outline: 0;
  padding: 0 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--gray-900);
}

::placeholder {
  font-size: 14px;
  color: #b9b7b7;
}

.form-col input.invalid {
  border-color: #c70039;
}

.form-terms {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  position: relative;
}

.form-term-asterisk {
  color: var(--blue-500);
}

.form-term-accept {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  text-decoration-line: underline;
  color: var(--black);
  cursor: pointer;
}

.checkbox-custom {
  width: 20px;
  position: relative;
  margin-left: 24px;
}

.input-label {
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  border: 1px solid var(--black);
}

.input-label:after {
  content: "";
  width: 8px;
  height: 4px;
  position: absolute;
  top: 3px;
  left: 2.5px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}

.input-checkbox {
  visibility: hidden;
}

.input-checkbox:checked + .input-label:after {
  opacity: 1;
}

.form-wrapper button {
  width: 100%;
  height: 52px;
  background: var(--blue-500);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: "Proxima Nova";
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 700;

  color: var(--white);
}

.form-wrapper button:hover {
  filter: brightness(90%);
}

.form-invalid-feedback {
  position: relative;
  bottom: 0;
  font-size: 12px;
  margin: 2px 0 0 14px;
  color: #c70039;
}

@media screen and (max-width: 1024px) {
  .form-wrapper {
    margin-left: 0px;
    width: 100%;
  }
  .form-wrapper h2 {
    font-size: 18px;
  }
}
