.header-wrapper-desktop {
  background-color: var(--blue-500);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 76px;
}

.header-logo-desktop {
  margin: 0 0 0 110px;
  transition: all 0.2s linear;
}

.header-buttons-desktop {
  display: flex;
  align-items: center;
}

.header-login-desktop {
  color: var(--white);
  font-size: 14px;
  margin: 34px 40px 26px 0;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.header-login-desktop:hover {
  opacity: 80%;
}

.cart-icon-desktop {
  margin: 28px 40px 20px 0;
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 769px) {
  .header-mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header-desktop {
    display: none;
  }

  .header-mobile {
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 100%;
    min-width: 320px;
    background-color: var(--blue-500);
    z-index: 9;
    border: 1px solid var(--black);
  }

  .header-mobile-content {
    display: flex;
    margin: 30px 24px 28px 16px;
    align-items: center;
    justify-content: space-between;
  }

  .header-mobile-area {
    display: flex;
  }
  .area-center {
    margin-left: 10%;
  }
  .header-mobile-area {
    justify-content: center;
  }
  .area-bottom {
    margin: 0 16px;
  }
}
