.footer-desktop {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-left: 10%;
}
.footer-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.footer-content,
.footer-content-col-02,
.footer-content-col-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer-content {
  margin-right: 60px;
}

.footer-content-col-02 {
  margin-right: 75px;
}

.footer-wrapper ul {
  list-style: none;
  padding-left: 0;
}

h3 {
  font-weight: 500;
  font-size: 14px;
  color: #303030;
  margin: 0 0 4px 0;
  text-transform: uppercase;
}

a,
.footer-list-link-number {
  font-size: 12px;
  line-height: 14px;
  color: #303030;
  margin: 6px 0;
}

a:hover {
  text-decoration-line: underline;
}

.footer-list-link-subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #303030;
}

.footer-wrapper-icons-click-youtube,
.footer-wrapper-icons-click-instagram {
  margin: 0 10px;
}

.footer-wrapper-column-icons {
  margin-left: 133px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #585858;
  padding: 0 32px;
  height: 64px;
}
.footer-bottom-text {
  font-size: 10px;
  line-height: 12px;

  color: #ffffff;
}
.footer-icons-wrapper,
.footer-icons-wrapper-vtex,
.footer-icons-wrapper-logo {
  display: flex;
  align-items: center;
}

.footer-icons-wrapper-vtex {
  margin-right: 14px;
}
.footer-icons-vtex-pci {
  margin: 16px 0;
}
.footer-icons-payment {
  margin: 0 7px 0 7px;
}
.footer-icons-vtex-pci {
  width: 54px;
  height: 32px;
  margin: 0 10px 0 0px;
  padding-left: 8px;
}
.footer-icons-vtex-text,
.footer-icons-logo-text {
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  margin: 0 8px 0 8px;
}
.footer-icons-vtex-img,
.footer-icons-logo-img {
  margin: 0 8px 0 0;
}

@media screen and (max-width: 1024px) {
  .footer-wrapper-column-icons {
    margin-left: 40px;
  }
  .footer-content {
    margin-right: 40px;
  }

  .footer-content-col-02 {
    margin-right: 40px;
  }
}

@media screen and (max-width: 1023px) {
  .footer-bottom {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .footer-mobile {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .footer-desktop {
    display: none;
  }
  .footer-mobile {
    position: relative;
    overflow-x: hidden;
    margin-top: 24px;
  }
  .footer-button-mobile-institutional {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  .footer-button-icon-mobile {
    position: relative;
    margin: 0 24px 0 0;
    background: transparent;
    border: 0;
  }
  .footer-button-icon-mobile-add {
    transition: all 0.2s;
    height: 10px;
    padding: 3px;
    border-right: 2px solid #303030;
    align-items: center;
  }

  .footer-button-icon-mobile-remove {
    position: absolute;
    width: 8px;
    left: 3px;
    top: 4px;
    border-top: 2px solid #303030;
  }
  .footer-button-title-mobile {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #303030;
    margin: 0 0 0 26px;
  }
  .footer-wrapper-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 26px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 50px;
  }
  .footer-wrapper-no-infos {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.2s ease-in-out;
    transform: translateX(1500px);
  }

  .footer-wrapper-info-bold {
    font-size: 12px;
    font-weight: 500;
  }

  .footer-wrapper-icons {
    margin: 0 0 32px 26px;
  }
  .footer-mobile-icons {
    justify-content: center;
    background: #585858;
  }
  .footer-icons-vtex-pci {
    margin: 16px 0 12px 0;
  }

  .footer-icons-payment,
  .footer-icons-payment-boleto {
    margin: 0 5px 0 5px;
    width: 30px;
    height: 16px;
  }
  .footer-icons-payment-boleto {
    border-right: 1px solid #c4c4c4;
    margin-right: 10px;
    width: 30px;
    height: 16px;
  }
  .footer-icons-wrapper {
    justify-content: center;
  }
  .footer-botton-mobile {
    display: flex;
    justify-content: center;
  }

  .footer-text-mobile {
    font-size: 10px;
    color: #ffffff;
  }
  .footer-icons-wrapper-mobile {
    justify-content: center;
  }
  .footer-icons-wrapper-mobile {
    display: flex;
    padding: 24px 0 16px 0;
    align-items: center;
  }
  .footer-icons-vtex-text {
    margin-left: 16px;
  }
}
