.wrapper-search {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0px auto;
  max-width: 264px;
  width: 100%;
}

.search-form {
  display: block;
  margin-top: 0em;
}

.search-input {
  background: #ffffff;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  padding: 8px 44px 8px 14px;
  max-width: 264px;
  width: 100%;
  outline: 0;
  height: 32px;
  position: relative;
}

.search-input::placeholder {
  color: #c4c4c4;
}

.search-icon {
  position: absolute;
  top: 24%;
  right: 16px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .wrapper-search {
    max-width: 344px;
  }

  .search-input {
    max-width: 344px;
    height: 36px;
  }
}
