body,
input {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

input,
button {
  border: none;
  outline: none;
}

:root {
  --white: #ffffff;
  --black: #000000;

  --blue-500: #00c8ff;

  --gray-200: #e5e5e5;
  --gray-300: #e7e7e7;
  --gray-500: #c4c4c4;
  --gray-600: #585858;
  --gray-700: #7d7d7d;
  --gray-800: #292929;
  --gray-900: #100d0e;

  --font-family-Roboto: "Roboto";
}
